@using System.Data;
@using CSharp_Project.Models;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string id = Request.QueryString["id"];

    Songs song = new Songs();
    DataRow dr = song.GetSong(id);


    if (IsPost)
    {
        song.EditSong(id);
        Response.Redirect("Index");
    }
}
<h2>Edit</h2>

<form method="POST">
    <table>
        <tr>
            <td>id:</td>
            <td><input type="text" name="id" placeholder="id" value="@dr["id"]"></td>
        </tr>

        <tr>
            <td>artist:</td>
            <td><input type="text" name="artist" placeholder="artist" value="@dr["artist"]"></td>
        </tr>

        <tr>
            <td>songnaam:</td>
            <td><input type="text" name="song" placeholder="songnaam" value="@dr["song"]"></td>
        </tr>

        <tr>
            <td>duur:</td>
            <td><input type="text" name="duration" placeholder="duur" value="@dr["duration"]"></td>
        </tr>

        <tr>
            <td>categorie:</td>
            <td><input type="text" name="category" placeholder="categorie" value="@dr["category"]"></td>
        </tr>

        <tr>
            <td>jaar:</td>
            <td><input type="text" name="year" placeholder="jaar" value="@dr["year"]"></td>
        </tr>
        <tr>
            <td>link:</td>
            <td><input type="text" name="link" placeholder="youtulink" value="@dr["link"]"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="verzend" value="verzend"></td>
        </tr>

    </table>
</form>