@using System.Data;
@using CSharp_Project.Models;
@{
    ViewBag.Title = "Xml";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Songs song = new Songs();
    

    }
<script type="text/javascript"
        src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
</script>
<script>
    $(document).ready(function () {
        $(".frame-class").click(function (event) {
            event.preventDefault();

            $("#frame").attr("src", $(this).attr("href"));

            $("#frame").css("display", "block");
        });
    });

</script>


<br />
<h2>xml lijst</h2>
<br />
<br />
<br />
@{  
<a href="create">Toevoegen</a>
    }
<br />
<br />
<table>
    @foreach (DataRow dr in song.GetSongs())
    {
        <tr>
            <td>@dr["id"]</td>
            <td>@dr["artist"]</td>
            <td>@dr["song"]</td>
            <td>@dr["duration"]</td>
            <td>@dr["category"]</td>
            <td>@dr["year"]</td>
        </tr>

        <tr>
            <td><a href="Delete?id=@dr["id"]">Verwijderen</a></td>
            <td><a href="Edit?id=@dr["id"]">Edit</a></td>
            <td><a href="@dr["link"]" class="frame-class" target="frame">luister naar je nummer</a></td>
        </tr>

    }
</table>
<iframe src="" id="frame" style="display:none;"></iframe>
