@using System.Data;
@using CSharp_Project.Models;
@{
    ViewBag.Title = "Xml";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Songs song = new Songs();
    DataRow[] drArray = song.GetSongs();


    }
<br />
<h2>xml lijst</h2>
<br />
<br />
<br />
@{  
<a href="create">Toevoegen</a>
    }
<br />
<br />
<table>
    @foreach (DataRow dr in drArray)
    {
        <tr>
            <td>@dr["id"]</td>
            <td>@dr["artist"]</td>
            <td>@dr["song"]</td>
            <td>@dr["duration"]</td>
            <td>@dr["category"]</td>
            <td>@dr["year"]</td>
        </tr>


        <td><a href="Delete?id=@dr["id"]">Verwijderen</a></td>
        <td><a href="Edit?id=@dr["id"]">Edit</a></td>
        <td><a href="https://www.youtube.com/results?search_query=@dr["song"]">luister naar je nummer</a></td>
    }
</table>
