@using System.Data;
@using CSharp_Project.Models;
@using Newtonsoft.Json;
@{

    string json = System.IO.File.ReadAllText(Server.MapPath(@"~\App_Data\songs.json"));
    Songz songs = JsonConvert.DeserializeObject<Songz>(json);

    foreach (Song song in songs.songs)
    {
        string id = song.id;
        string artist = song.artist;
        string nummer = song.song;
        string duration =  song.duration;
        string category = song.category;
        string year = song.year;
    }
}
<br />
<h2>Json lijst</h2>
<br />
<br />
<br />
@{
    <a href="create">Toevoegen</a>
}
<br />
<br />
<table>
    @foreach (Song song in songs.songs)
    {
        <tr>
            <td>@song.id</td>
            <td>@song.artist</td>
            <td>@song.song</td>
            <td>@song.duration</td>
            <td>@song.category</td>
            <td>@song.year</td>
        </tr>

        
        <td><a href="Delete?id=song.id">Verwijderen</a></td>
        <td><a href="Edit?id=song.id">Edit</a></td>
        <td><a href="" class="frame-class" target="frame">luister naar je nummer</a></td>
    }
</table>