@using System.Data;

@{
    ViewBag.Title = "Xml";
    Layout = "~/Views/Shared/_Layout.cshtml";

    
    }
<br />
<h2>xml lijst</h2>
<br />
<br />
<br />
@{  
<a href="create">Toevoegen</a>
    }
<br />
<br />
<table>
    @foreach (DataRow dr in ds.Tables[0].Rows)
    {
        <tr>
            <td>@dr["id"]</td>
            <td>@dr["artist"]</td>
            <td>@dr["song"]</td>
            <td>@dr["duration"]</td>
            <td>@dr["category"]</td>
            <td>@dr["year"]</td>
        </tr>

        <td><a href="Delete?id=@dr["id"]">Verwijderen</a></td>
        <td><a href="Edit?id=@dr["id"]">Edit</a></td>
    }
</table>
